<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>tas kagıt makas</title>
</head>
<body>
    <div class="container">
        <h1>taske kagıtke makaske</h1>
        <div class="point">
            <div class="game-point" id="my-point"><span>YOU</span>0</div>
            <div class="game-point" id="opponent-point"><span>OPPONENT</span>0</div>
        </div>
        <div class="score">
            <div class="score-box" id="my-score">0</div>
            <span>:</span>
            <div class="score-box" id="opponent-score">0</div>
        </div>
        
        <div class="arm">
            <img src="/images/leftRock.png" alt="">
        </div>


        <div class="chooses">
            <div id="rock" class="choose">
                <img src="/images/rock.png" alt="">
            </div>
            <div id="paper" class="choose">
                <img src="/images/paper.png" alt="">
            </div>
            <div id="scissors" class="choose">
                <img src="/images/scissors.png" alt="">
            </div>

        </div>

    </div>


    <script src="script.js"></script>
</body>
</html>