<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>tas kagıt makas</title>
</head>
<body>
    <audio id ="myaudio">
        <source src="music/ceddindeden.mp3" type="audio/mpeg">
    </audio>
    <div class="login" id="login-screen">
        <h1>TAS KAGIT MAKAS</h1>
        <img src="images/login-img.png" alt="">
        <div class="">
            <input type="text" id="room-id">
            <button id="join-room">Join Room</button>
            <button id="create-room">Create Room</button>
            <div class="message" id="message"></div>
        </div>
    </div>
    <div class="container" id="game-screen">
        <h1>tas kagıt makas</h1>
        <div class="point">
            <div class="game-point" ><span>YOU</span><p id="my-point">0</p></div>
            <div class="whowin" id="who-win">Rakip bekleniyor...</div>
            <div class="game-point" ><span>OPPONENT</span><p id="opponent-point">0</p></div>
        </div>
        <div class="score">
            <div class="score-box" id="my-score">0</div>
            <span>:</span>
            <div class="score-box" id="opponent-score">0</div>
        </div>
        <div class="arms">
            <div class="left-arm" id="left-arm">
                <img src="/images/rock.png" id="left-img"alt="">
            </div>
            <div class="right-arm" id="right-arm">
                <img src="/images/rightrock.png" id="right-img" alt="">

            </div>
        </div>

        <div class="choices">
            <div id="rock" class="choice">
                <img src="/images/rock.png" alt="">
            </div>
            <div id="paper" class="choice">
                <img src="/images/paper.png" alt="">
            </div>
            <div id="scissors" class="choice">
                <img src="/images/scissors.png" alt="">
            </div>

        </div>

    </div>

    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>
</html>