*{
    box-sizing: 0;
    margin: 0;
    font-family: monospace;
}
body{
    height :100vh;
    background-color: #A2D5AB;
}

.login{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}
.login img{
    height: 200px;
    width: 240px;
    margin: 50px 0 100px;
}
.login .message{
    margin-top: 20px;
    font-size: 2rem;
    color: red;
    
}

.container{
    display: none;
    text-align: center;
    height: 100vh;
    flex-direction: column;
    
}
.point{
    display: flex;
    font-size: 2rem;
    justify-content: space-around;
    text-align: center;
}

.point .whowin{
    margin-top:50px;
    font-size: 3rem;
    color: rgb(255, 45, 45);    
} 

.game-point{
    display: flex;
    flex-direction: column;
    margin: 30px;
    
}
.game-point span{
    box-shadow: 0 7px #7e1b1b ;
    margin-bottom: 20px;
}

.left-arm{
    position: absolute;
    left: 15px;
    top: 30%;
}

.left-arm.active{
    animation: MoveUpDown .5s linear 3;
}

.right-arm{
    position: absolute;
    right: 10%;
    top: 30%;
}

.right-arm.active{
    animation: MoveUpDown .6s linear 3;
}

@keyframes MoveUpDown {
    0%, 100% {
      top: 30%;
    }
    50% {
      top: 50%;
    }
}

.arms img{
    width: 100px;
    height: 100px;
    object-fit:fill;    
}

 
.score{
    display: flex;
    font-size: 4rem;
    justify-content: center;
    align-items: center;
}
.score-box{
    border: 3px solid black;
    margin: 25px;
    padding: 5px 15px;
    background-color: white;
}


.choices{
    display: flex;
    position: fixed;
    bottom: 5%;
    width: 100%;
    justify-content: space-around;

}
.choice{
    border-radius: 50%;
    background-color: black;
    padding:30px;
    border: 2px solid rgb(217, 255, 0);
    cursor: pointer;
}

.disable{
    border-radius: 50%;
    background-color: rgb(70, 70, 70);
    padding:30px;
    border: 2px solid rgb(217, 255, 0);
    cursor: not-allowed;
}
.choice:hover{
    background-color: rgb(65, 110, 110);
}

.choices img{
    width: 75px;
    height: 75px;
    object-fit:fill;
}